<nav class='navbar navbar-default navbar-fixed-top' data-nav-highlight='true'>
    <div class='container container-navbar'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar'>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand navbar-logo' href='{{ site.baseurl }}'><img src='{{ site.baseurl | append: "/assets/img/site/rse.png" }}'/></a>
        </div>
        <div id='navbar' class='collapse navbar-collapse'>
            <ul class='nav navbar-nav'>
                <li><a href='{{ page.url | prepend: site.baseurl }}'>{{ page.title }}</a></li>
            </ul>
            <ul class='nav navbar-nav pull-right'>
                <li class='navbar-conflink'><a href='https://www.de-rse.org'>de-rse.org</a></li>
            </ul>
        </div>
    </div>
</nav>
