body {
  padding-top: 100px;
}

table {
  margin: 20px 0;
}

th, td {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

th {
  background-color: #97316e;
  color: white;
}

tr:nth-child(even) {background-color: #f2f2f2;} 

.navbar-default {
    border-top: 5px solid #97316e;
}

.container-navbar {
    margin-left: 0px;
}

.navbar-logo {
    padding-left: 0px;
    padding-top: 0px;
}

#rse-img {
  position: fixed;
  left: 0px;
  top: 35px;
  width: 160px;
  z-index: 1031;
}

.navbar-default .navbar-nav li a {
  color: #97316e;
  font-weight: bolder;
  font-size: 130%;
}

.navbar-default .navbar-nav .navbar-conflink {
  background-color: #97316e;
}

.navbar-default .navbar-nav .navbar-conflink a {
  color: #FFFFFF;
}

/* push footer down to window bottom on short pages */
html, body {
    height: 100%;
}

.container {
    min-height: 100%;
    margin-left: auto;
}

.starter-template {
    overflow: auto;
    padding-bottom: 45px;
}

.footer {
    clear: both;
    height: 45px;
    margin-top: -45px;
    padding-top: 0;
    position: relative;
    width: 100%;

    border-top: 1px solid #97316e;
    padding: 15px;
    text-align: center;
}

.footer a {
    color: #777;
}

.leaflet-popup-content {
    height: 12em;
}

blockquote {
    font-size: 100%;
}
